

/* Start:/local/templates/food/components/bitrix/news.list/template1/style.css?1699515965150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/local/templates/food/components/bitrix/news.list/template2/style.css?1699524614150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /local/templates/food/components/bitrix/news.list/template1/style.css?1699515965150 */
/* /local/templates/food/components/bitrix/news.list/template2/style.css?1699524614150 */
